DB_HOST=localhost
DB_USER=root
DB_NAME=ayurveda
DB_PASSWORD="S2004@vgr#"
JWT_SECRET=supersecretkey
WEBHOOK_SECRET=MY_SUPER_SECRET
EMAIL_USER=netleapproject@gmail.com
EMAIL_PASS="exnp ricp yywr toiz"
DOCTOR_NAME=Dr.Netleap
CLINIC_NAME=Ayurveda Care Clinic
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
